<h1 class="govuk-heading-xl">DfE Pizza Service 🍕</h1>

<p class="govuk-body">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean posuere
  tellus nec finibus tincidunt. Sed pharetra quam id augue fermentum viverra.
  Integer sapien ligula, pretium at libero ac, pharetra malesuada risus. Fusce
  sem enim, porttitor eu erat eu, euismod rhoncus diam. Integer ultrices risus
  eget quam porttitor, ac tristique massa fringilla.
</p>

<%= govuk_start_button(text: "Order a pizza", href: "/") %>
